h2 {
  font-size: 2.2rem;
}
.subheading__1U4n27z2jgbAB6zulOJfUf {
  margin-bottom: 3rem;
}

.comeHelpUs__2A--m262WqAHOzGbLsFZtU {
  color: #233466;
  padding: 4rem 1rem 2rem;
  text-align: center;
}

.title__1htW-Wii8G6L8U6oX-M6Ae {
  color: #233466;
  margin: auto;
  padding-bottom: 1rem;
  max-width: 35rem;
}
.link__SB3DN3sC680ZMZgd8fJwS {
  color: #6521de;
  text-decoration: underline;
}

@media only screen and (min-width: 64rem) {
  .aboutAndMission__1m6Wj3VyO1G5lrM3J6lcJz {
    margin-top: 2rem;
    padding: 5rem 10vw 3rem;
  }
}

.aboutAndMission__1m6Wj3VyO1G5lrM3J6lcJz {
  background-color: #f6f5fa;
  padding: 3rem 2rem 1rem;
}

@media only screen and (min-width: 64rem) {
  .contents__1ZHZ6K2xaj93JYbk1yGjFd {
    display: -webkit-flex;
    display: flex;
  }
}

@media only screen and (min-width: 64rem) {
  .contents__37GN4VkGa2lw5JA8729coR {
    margin: auto;
    max-width: 60rem;
  }
}

@media only screen and (min-width: 64rem) {
  .half__1umXbjrNy_DVNPT5Hy1JPo:first-of-type {
    padding-right: 1.5rem;
  }
}
@media only screen and (min-width: 64rem) {
  .half__1umXbjrNy_DVNPT5Hy1JPo {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 40%;
  }
}

.ourTeam__1MlRn9YkAU-6XYILBeKDY1 {
  margin-bottom: 2rem;
  text-align: center;
}

@media only screen and (min-width: 64rem) {
  .ourTeam__1MlRn9YkAU-6XYILBeKDY1 {
    margin-bottom: 5rem;
  }
}

.members__3Cd6Dr0jPfk70cZt9AvY_7 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member__2SR5bA7DWV8QUtSsQ5MWtA {
  align-items: center;
  color: #233466;
  display: flex;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
}

@media only screen and (min-width: 48rem) {
  .member__2SR5bA7DWV8QUtSsQ5MWtA {
    width: 50%;
  }
}

@media only screen and (min-width: 64rem) {
  .member__2SR5bA7DWV8QUtSsQ5MWtA {
    flex-direction: column;
    margin-top: 1rem;
    width: 25%;
  }
}

.profileImageContainer__3VoxBOf984Lgjtvnthg0-c {
  flex-grow: 1;
  font-family: ikona;
}

.details__Ulvc7yyrbh6OYQ8ZRU9c5 {
  flex-grow: 2;
  text-align: center;
}

.profileImage__Sp8EE1SAbi0L6AxCf9E7G {
  border-radius: 100%;
  max-height: 3rem;
  max-width: 3rem;
}
img {
  vertical-align: middle;
  border-style: none;
}

@media only screen and (min-width: 64rem) {
  .profileImage__Sp8EE1SAbi0L6AxCf9E7G {
    max-height: 7.5rem;
    max-width: 7.5rem;
  }
}



.container_1 {
  max-width: 90rem !important;
  margin: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

@media only screen and (min-width: 48rem) {
  .container {
    justify-content: space-between;
    flex-direction: row;
  }
}
.container {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 48rem) {
  .container_1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (min-width: 64rem) {
  .container_1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.ourOffice__118xCS9x_BBFKkUx4Cqzjd {
  background-color: #f6f5fa;
  font-size: 1.25rem;
  padding: 3rem 1rem;
  text-align: center;
}

@media only screen and (min-width: 64rem) {
  .contents__37GN4VkGa2lw5JA8729coR {
    margin: auto;
    max-width: 60rem;
  }
}

.map__37XYvGDoyRZcZDcH9EWJJz {
  border: 0;
  margin-bottom: 1rem;
}

iframe{
    height: 350px;
    width: 100%;
}
