@import 'variables.scss';

$mat-aca: (
  50: $aca-light-blue,
  100: $aca-light-blue,
  200: $aca-light-blue,
  300: $aca-light-blue,
  400: $aca-light-blue,
  500: $aca-light-blue,
  600: $aca-light-blue,
  700: $aca-light-blue,
  800: $aca-light-blue,
  900: $aca-light-blue,
  A100: $aca-light-blue,
  A200: $aca-light-blue,
  A400: $aca-light-blue,
  A700: $aca-light-blue,
  contrast: (
    50: $aca-white,
    100: $aca-white,
    200: $aca-white,
    300: $aca-white,
    400: $aca-white,
    500: $aca-white,
    600: $aca-white,
    700: $aca-white,
    800: $aca-white,
    900: $aca-white,
    A100: $aca-white,
    A200: $aca-white,
    A400: $aca-white,
    A700: $aca-white
  )
);

$mat-aca-dark: (
  50: $aca-navy-blue,
  100: $aca-navy-blue,
  200: $aca-navy-blue,
  300: $aca-navy-blue,
  400: $aca-navy-blue,
  500: $aca-navy-blue,
  600: $aca-navy-blue,
  700: $aca-navy-blue,
  800: $aca-navy-blue,
  900: $aca-navy-blue,
  A100: $aca-navy-blue,
  A200: $aca-navy-blue,
  A400: $aca-navy-blue,
  A700: $aca-navy-blue,
  contrast: (
    50: $aca-white,
    100: $aca-white,
    200: $aca-white,
    300: $aca-white,
    400: $aca-white,
    500: $aca-white,
    600: $aca-white,
    700: $aca-white,
    800: $aca-white,
    900: $aca-white,
    A100: $aca-white,
    A200: $aca-white,
    A400: $aca-white,
    A700: $aca-white
  )
);

$mat-aca-magenta: (
  50: $aca-magenta,
  100: $aca-magenta,
  200: $aca-magenta,
  300: $aca-magenta,
  400: $aca-magenta,
  500: $aca-magenta,
  600: $aca-magenta,
  700: $aca-magenta,
  800: $aca-magenta,
  900: $aca-magenta,
  A100: $aca-magenta,
  A200: $aca-magenta,
  A400: $aca-magenta,
  A700: $aca-magenta,
  contrast: (
    50: $aca-white,
    100: $aca-white,
    200: $aca-white,
    300: $aca-white,
    400: $aca-white,
    500: $aca-white,
    600: $aca-white,
    700: $aca-white,
    800: $aca-white,
    900: $aca-white,
    A100: $aca-white,
    A200: $aca-white,
    A400: $aca-white,
    A700: $aca-white
  )
);
