// Colours are taken from proximie guidelines
// Please see this document in root/docs
$aca-light-blue: rgba(55, 191, 240, 1);
$aca-white: rgba(255, 255, 255, 1);
$aca-magenta: rgba(255, 0, 166, 1);
$aca-navy-blue: rgba(21, 33, 64, 1);
// Note: The blend mode is expected to be "darken"
$aca-img-overlay: rgba(21, 33, 64, 0.5);
