.whyCodeSection {
  background-color: #141c3a;
  position: relative;

  h1,
  h2,
  h3,
  p,
  li,
  span {
    color: white;
  }

  .whyCodeTitle .block {
    display: block;
  }

  .whyCodeTitle {
    font-size: 2.56rem;
    max-width: 36rem;
    text-align: center;
    padding: 6rem 0 1rem;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.1;
  }

  @media only screen and (min-width: 48rem) {
    .whyCodeTitle {
      padding: 6rem 0;
      font-size: 3.84rem;
    }
  }

  .whyCodeTitle .block {
    display: block;
  }

  .overflowHidden {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
  }

  @media only screen and (min-width: 64rem) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media only screen and (min-width: 48rem) {
    .container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  .container {
    max-width: 90rem !important;
    margin: auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
  }

  .subjectRow {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 5rem;
  }

  @media only screen and (min-width: 48rem) {
    .subjectRow {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media only screen and (min-width: 48rem) {
    .subjectRow > div {
      flex: 1 0;
      margin-top: 0;
    }
  }

  @media only screen and (min-width: 48rem) {
    .subjectRow > div + div {
      margin-left: 5%;
    }
  }

  .subjectHeadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .mint {
    color: #6df0c2;
  }
  .yellow {
    color: #ffc740;
  }

  @media only screen and (min-width: 48rem) {
    .subjectHeadingContainer {
      height: 5rem;
    }
  }

  @media only screen and (min-width: 48rem) {
    .subjectHeading {
      text-align: center;
    }
  }

  .subjectHeadingContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }

  .subjectHeading {
    border-bottom: 3px solid #fff;
    padding-bottom: 1rem;
  }

  .subjectTabsWeb > li:before {
    background-color: #ffc740;
  }

  .subjectTabs > li:before {
    content: "";
    width: 0.6rem;
    height: 0.6rem;
    display: block;
    border-radius: 10rem;
    position: absolute;
    left: -1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .subjectTabs {
    display: flex;
    padding: 0;
    position: relative;
    left: 1rem;
  }
  .subjectTabs > li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.95rem;
    list-style: none;
    position: relative;
    margin-right: 2.5rem;
  }
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://via.placeholder.com/50x50.png?text=P");
  background-size: cover;
}
