<!--TODO remove below-->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Lorem ipsum</mat-card-title>
    <mat-card-subtitle>dolor sit amet, consectetur</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://via.placeholder.com/150" alt="Test photo" />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis
      purus molestie, aliquet nulla eget, tristique ante. Duis suscipit aliquam
      mi sed dictum. Proin elit nisl, blandit quis libero at, lobortis suscipit
      tortor. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="accent">Ignore</button>
    <button mat-stroked-button color="primary">Accept</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Lorem ipsum</mat-card-title>
    <mat-card-subtitle>dolor sit amet, consectetur</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://via.placeholder.com/150" alt="Test photo" />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis
      purus molestie, aliquet nulla eget, tristique ante. Duis suscipit aliquam
      mi sed dictum. Proin elit nisl, blandit quis libero at, lobortis suscipit
      tortor. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="accent">Ignore</button>
    <button mat-stroked-button color="primary">Accept</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Lorem ipsum</mat-card-title>
    <mat-card-subtitle>dolor sit amet, consectetur</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://via.placeholder.com/150" alt="Test photo" />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis
      purus molestie, aliquet nulla eget, tristique ante. Duis suscipit aliquam
      mi sed dictum. Proin elit nisl, blandit quis libero at, lobortis suscipit
      tortor. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="accent">Ignore</button>
    <button mat-stroked-button color="primary">Accept</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Lorem ipsum</mat-card-title>
    <mat-card-subtitle>dolor sit amet, consectetur</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://via.placeholder.com/150" alt="Test photo" />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis
      purus molestie, aliquet nulla eget, tristique ante. Duis suscipit aliquam
      mi sed dictum. Proin elit nisl, blandit quis libero at, lobortis suscipit
      tortor. Class aptent taciti sociosqu ad litora torquent per conubia
      nostra, per inceptos himenaeos.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="accent">Ignore</button>
    <button mat-stroked-button color="primary">Accept</button>
  </mat-card-actions>
</mat-card>